.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 16px;
}

main {
  grid-column: auto;
  background-color: var(--background-2);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-2);
}

aside {
  grid-column: auto;
  background-color: var(--background-2);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-2);
}