:root {
  --background-1: #fcfcfc;
  --background-2: #fff;
  --background-3: #f3f3f3;
  --font-color-1: #6f6f6f;
  --font-color-2: #444;
  --brand: #4c4cff;
  --radius-1: 4px;
  --radius-2: 8px;
  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

html {
  background-color: var(--background-1);
  color: var(--font-color-1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;;
}

body {
  margin: 0;
}